<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dennis.gitmobile">

    <application
        android:allowBackup="true"
        android:banner="@drawable/gitmobo"
        android:icon="@drawable/gitmobo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:roundIcon="@drawable/gitmobo"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CreateARepo">
        </activity>
        <activity android:name=".ui.GithubUsers">
        </activity>
        <activity android:name=".ui.ViewUser">
        </activity>
        <activity android:name=".ui.LoginActivity">
        </activity>
        <activity android:name=".ui.RepoWebViewActivity">
        </activity>
        <activity android:name=".ui.RepoUrlActivity">
        </activity>
        <activity android:name=".ui.PersonUserActivity">
        </activity>
    </application>

</manifest>